.slideshow {
    position: relative;
    margin: auto;
  
    .slideshow-image {
      width: 100%;
      object-fit: cover;
      height: 255px;
      border-radius: 15px;
    }

    [class*="arrow-"] {
      width: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  
    .arrow-left {
      left: 15px;
    }
    
    .arrow-right {
      right: 15px;
    }  
  }
  
  .count {
    display: none;
    z-index: 1;
  }

/*   .tablette {
    display: none;
    position: absolute;
  } */
  
  @media (min-width: 768px) {
    .slideshow {
      .slideshow-image {
        height: 410px;
      }
    }
  }
  
  @media (min-width: 1200px) {
    .count {
      display: flex;
      position: absolute;
      top: 333px;
      right: calc((97%) / 2);
      font-size: 24px;
      color: #FFF;
    }
    .tablette {
      display: block;
    }
  }