.collapse-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  
    li {
      width: 100%;
  
      button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        text-align: left;
        border-radius: 5px;
        border: none;
        background-color: #FF6060;
        padding: 8px 0 8px 10px;
        margin: 10px 0;
        font-size: 15px;
        font-family: 'montserrat', sans-serif;
        font-weight: 700;
        color: #FFF;
  
        img {
          rotate: 90deg;
          width: 10px;
          position: absolute;
          right: 15px;
          transition: 'transform 0.3s ease'
        }
      }
    }
  }
  
  .content-expanded {
    position: relative;
    bottom: 10px;
    background-color: #F6F6F6;
    border-radius: 5px;
    padding: 15px;
    width: calc(100% - 30px);
    font-size: 14px;
    font-weight: 400;
    font-family: 'montserrat', sans-serif;
    line-height: 18px;
  }
  
  .content-expanded {
      from {
  
        opacity: 0;
      }
      to {
  
        opacity: 1;
      }
  }
  
  img {
    transform: rotate( 0deg);
    transition: 'transform 0.3s ease';
    /*transform: rotate( 0deg); rotate from 0 to 180 deg*/

  }
  
  @media (min-width: 768px) {
    .collapse-container  {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 30px;
      margin-bottom: 25px;
      
      li {
        width: calc((100% - 30px) / 2);
  
        button {
          height: 40px;
        }
      }
    }
  }