.card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 15px;
    align-items: stretch;
  
    img {
      width: 100%;
      height: 255px;
      object-fit: cover;
      border-radius: 10px;
    }
  
    .card-content {
      position: absolute;
      bottom: 25px;
      left: 15px;
      color: #FFF;
      font-family: 'montserrat', sans-serif;
      font-weight: 700;
      font-size: 18px;
      width: calc(100% - 30px);
    }
  }
  
  .shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }
  
  @media (min-width: 1200px) { /*ok 1200px beacause width meant for pc */
    .card,
    .card img {
      width: 340px;
      height: 340px;
    }
  }